/** Error 404 **/
body {
    background: url("../img/body-bg.png") repeat scroll 0 0 #E9E9E9;
    font: 13px/1.7em 'Open Sans';
}
.error-container {
    margin-bottom: 4em;
    margin-top: 4em;
    text-align: center;
}
.error-container h1 {
    font-size: 120px;
    line-height: 1em;
    margin-bottom: 0.5em;
}
.error-container h2 {
    font-size: 28px;
    margin-bottom: 0.75em;
}
.error-container .error-details {
    font-size: 16px;
    margin-bottom: 1.5em;
}
.error-container .error-actions a {
    margin: 0 0.5em;
}