html, body { height: 100%; }
#wrap { min-height: 100%; margin: 0 auto -80px; }
hr{ border-color: #D4D4D4 -moz-use-text-color #FFFFFF;}

.visible-print {
    display: none;
}

.cajitas {
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
    border-radius: 0 0 4px 4px;
    margin: 0 0 20px 0;
    min-height: 100px;
    padding: 15px 0;
}

.cajas h5:before, .cajas h5:after {
    content: "";
    display: table;
    line-height: 0;
}
.cajas h5:after {
    clear: both;
}

.botonera {
    width: 90%;
    margin: 0 auto;
}

.cajas h5 {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    color: #777777;
    margin: 0;
    min-height: 30px;
    padding: 10px 10px 0 10px;
}

.graficas_dashboard {
    width:400px;
    height:200px;
    margin:auto;
}

.modal-footer .icon-spinner {
    vertical-align: middle;
    display: none;
}

.form-horizontal .control-label {
    text-align: left;
}

/* Text align para tablas */
.table th.text-center, .table td.text-center {
    text-align: center !important;
}
.table th.text-left, .table td.text--left {
    text-align: center !important;
}
.table th.text-right, .table td.text-right {
    text-align: center !important;
}

.table-actividades {
    margin: 0 auto 0;
    font-size: 13px;
    width: 90%;
}
.th-fecha {
    width: 75px;
}

#cintillo {
    margin-bottom: 35px;
}

/* Area para pruebas de espacio */
.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}