@media print {
    .hidden-print{
        display: none;
    }
    .visible-print{
        display: block !important;
    }
    *{
        font-size: 12px;
    }
    h3 {
        margin:0;
    }
    h4{
        margin:0 0 20px;
    }
    /* Text align para tablas */
    .table th.text-center, .table td.text-center {text-align: center !important;}
    .table th.text-left, .table td.text--left {text-align: center !important;}
    .table th.text-right, .table td.text-right {text-align: center !important;}
    /* Styles of Bootstrap */
    table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;}
    .table{width:100%;margin-bottom:20px;}.table th,.table td{padding:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #dddddd;}
    .table th{font-weight:bold;}
    .table thead th{vertical-align:bottom;}
    .table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{border-top:0;}
    .table tbody+tbody{border-top:2px solid #dddddd;}
    .table .table{background-color:#ffffff;}
    .table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{background-color:#f9f9f9;}
    hr{display: none;}
    a:link{text-decoration: none;}
}